<!-- Begin page justify-content-center -->
<div id="layout-wrapper">
    <!-- Top Bar -->
    <app-header></app-header>
    <app-topbar></app-topbar>
    <div class="main-content">
        <div class="page-content">
            <div class="container-fluid">
                <!-- Main Content -->
                <router-outlet></router-outlet>
            </div>
        </div>
        <!-- Footer -->
        <!-- <app-footer></app-footer> -->
    </div>
</div>
<!-- <div class="container-fluid">
    <div class="row min-vh-100">
        <div class="col-12">
            <div class="d-flex flex-column ">
                <div class="row">
                    <app-header></app-header>
                    <app-topbar></app-topbar>
                </div>
                <div class="row flex-grow-1">
                    <router-outlet></router-outlet>
                </div>
            </div>
        </div>
    </div>
</div> -->
<!-- Right Side Bar -->
<!-- <app-rightsidebar (settingsButtonClicked)="onSettingsButtonClicked()"></app-rightsidebar> -->
<ngx-spinner type="ball-clip-rotate"></ngx-spinner>